%header
  %section
    %h1 Pepetox
    %article
      %h2 Desarrollo Web con Ruby on Rails
    %article
      %p Soy Tomás Calleja (Pepetox) y soy un enamorado de ruby,
      .row-fluid#parrilla
        .span3#elemento
          = image_tag("fondo.jpg", height: '100px')
        .span3#elemento
          = image_tag("fondo.jpg", height: '100px')
        .span3#elemento
          = image_tag("fotouno.jpg", height: '100px')
        .span3#elemento
          = image_tag("fotodos.jpg", height: '100px')






