%footer
  .cell-a
    %p.address
      %strong Dirección:
      Algún lugar cerca del bernabeu
      %br/
      Madrid, España
    %p
      %strong Email:
      %a{:href => "mailto:pepetox@gmail.com"} pepetox@gmail.com
    %p
      %strong Phone:
      %a{:href => "tel: "}
    .footer-links
      %ul.nav
        %li
          %a.logo{:href => "/"}
            %img{:alt => "Pepetox", :src => "rails.png"}
        %li
          %a{:href => "/work"} Work
        %li
          %a{:href => "/about"} About
        %li
          %a{:href => "/team"} Team
        %li
          %a{:href => "pepetox.heroku"} Blog
        %li
          %a{:href => "/contact"} Contact
      /%a.icn-fb{:href => "http://facebook.com/joseTomas"} Like me
      %a.icn-gh{:href => "http://github.com/pepetox"} Pepetox on GitHub
      %a.icn-tw{:href => "http://twitter.com/pepetox"} Follow pepetox