%header.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %p.brand
        = link_to "Hogar, dulce hogar", root_url,  id: "logo"
      .nav-collapse.collapse.navbar-responsive-collapse
        %ul.nav
          %li.divider-vertical
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Proyectos
              %b.caret
            %ul.dropdown-menu
              - @proyectos.each do |proyecto|
                %li= link_to proyecto.nombre, proyecto
          %li= link_to "Wikirol", "http://wikirol.dominarelmundo.org"
          %li= render 'layouts/locale_selector'
